streamlit>=1.29
pandas>=2.1
einops>=0.6,<0.9
biopython>=1.86
brewer2mpl>=1.4
chroma>=0.2
freesasa>=2.2
immunebuilder>=1.2
matplotlib>=3.8
mlflow>=3.6
mendeleev>=1.1
numpy>=1.26,<3
paretoset>=1.2
protein-topmodel>=1.0
python-parallel>=0.9
pytorch-lightning>=2.5
pyyaml>=6.0
SQLAlchemy>=2.0,<2.1
scipy>=1.11
seaborn>=0.13
pillow>=10.0
torch==2.6.0
tqdm>=4.66
wandb>=0.16
pdbfixer @ git+https://github.com/openmm/pdbfixer.git
protobuf<6
